
        body {
          background-color:rgb(130, 131, 127);
        }
        
        h1 {
          color: rgb(248, 4, 4);
          text-align: center;
        }

        h2 {
            color: rgb(229, 255, 0);
        }
        
        p {
          font-family: verdana;
          font-size: 20px;
        }

        #info-contact  {
          display:none
        }
        #knowledge  {
          display:none

        }#experience  {
          display:none
        }